.displayback-calendar{
    background-image: url("../assets/2-removebg-preview-new.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 50px ;
}


.margin-header-calendrier{
    text-align: center;
    margin-top: -70px;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 3px;
    color: rgb(106, 50, 7);
}

.comportement-div{
    margin-bottom: 150px
}

#formation-incendie{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 60px;
}

#formation-defebrilateur{
    display: flex;
    justify-content: space-evenly;
}

#formation-geste{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#formation-mac{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#formation-sst{
    display: flex;
    justify-content: space-evenly;
}



.planning{
    background-color: rgb( 220, 223, 226);
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;
    /*margin-bottom: 60px;*/
}

.planning-geste{
    background-color: rgb( 220, 223, 226);
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: -199px;
}

.planning-mac{
    background-color: rgb( 220, 223, 226);
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: -95px;
}

.lieu{
    background-color: rgb(162, 108, 88);
    height: 300px;
    width: 250px;
    text-align: center;
}

.lieu h3, .lieu p {
    color: aliceblue;
    margin-top: 40px;
}

.titre-formation{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 200px;
    align-items: center;
    display: flex;
    margin-left: -70px;
}

.titre-formation h3{
    text-align: center;
    color: rgb(245, 132, 12);
}

.contenu-formation{
    background-color: rgb( 220, 223, 226);
    height: 250px;
    width: 55%;
}

.calendar{
    background-color: rgb(162, 108, 88);
    height: 350px;
    width: 250px;
    margin-bottom: 50px;
}

.invisible{
    height: 1px;
    width: 250px;

}

.formation{
    background-color: rgb(162, 108, 88);
    height: 500px;
    width: 250px;
    margin-bottom: 60px;
}

.devis{
    background-color: rgb(162, 108, 88);
    height: 100px;
    width: 250px;
    color: aliceblue;
    align-items: center;
    display: flex;
    justify-content: center;
}

