.displayback-calendar{
    background-image: url("../assets/2-removebg-preview-new.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 50px ;
}


.margin-header-calendrier{
    text-align: center;
    margin-top: -70px;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 3px;
    color: rgb(106, 50, 7);
}

.comportement-div{
    margin-bottom: 150px
}

#formation-incendie{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: -60px;
}


.planning{
    background-color: rgb( 220, 223, 226);
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;
}

.lieu{
    background-color: rgb(130, 79, 61);
    height: 300px;
    width: 300px;
}

.titre-formation{
    background-color: white;
    margin-left: -50px;
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
}

.titre-formation h3{
    word-break: normal;
}