.footer-style{
    display: flex;
    margin-top: 60px;
}


.brown-div{
    background-color: rgb(130, 79, 61); /* A modifier plus tard !! */
    height: 400px;
    width: 45%;
}

.white-div{
    background-color: white; /* A modifier plus tard !! */
    height: 400px;
    width: 10%;
    position: absolute;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-style img{
    width: 190px;
    height: 190px;
    
}

.grey-div{
    background-color: rgb( 220, 223, 226);
    height: 300px;
    width: 75%;
    right: 0;
    margin-top: 4%;
    position: absolute;
}

.footer-position h6{
    font-family: "Roboto", sans-serif; /* A modifier plus tard !! */
    font-weight: 900;
}

.footer-element-1 p{

    margin-bottom: 0;
}

.footer-element-2 p{

    margin-bottom: 0;
}