.footer-style{
    display: flex;
    margin-top: 60px;
}


.brown-div{
    background-color: rgb(130, 79, 61); /* A modifier plus tard !! */
    height: 400px;
    width: 45%;
}

.white-div{
    background-color: white; /* A modifier plus tard !! */
    height: 400px;
    width: 10%;
    position: absolute;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-style img{
    width: 190px;
    height: 190px;
    
}

.grey-div{
    background-color: rgb( 220, 223, 226);
    height: 300px;
    width: 75%;
    right: 0;
    margin-top: 4%;
    position: absolute;
}

.footer-position h6{
    font-family: "Roboto", sans-serif; /* A modifier plus tard !! */
    font-weight: 900;
}

.footer-element-1 p{

    margin-bottom: 0;
}

.footer-element-2 p{

    margin-bottom: 0;
}

.footer-style a {
    text-decoration: none !important;
    color: black !important;
}

.footer-style a:hover {
    text-decoration: underline !important;
}


@media screen and (max-width: 480px) {
    .footer-style {
        flex-direction: column; 
    }
    
    .brown-div, .white-div, .grey-div {
        width: 100%; 
        max-width: none; 
    }
    
    .white-div {
        margin-left: 0;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer-style {
        flex-wrap: wrap; 
    }

    .brown-div, .white-div, .grey-div {
        width: 50%; 
        max-width: none; 
    }
}


@media screen and (min-width: 769px) {
    .footer-style {
        justify-content: space-between; 
    }
    
    .brown-div {
        width: 45%; 
    }
    
    .white-div {
        width: 10%; 
        margin-left: 80px; 
    }
    
    .grey-div {
        width: 75%; 
    }
}

