header .grey{
    height: 100px;
    width: 100%;
    background-color: rgb( 220, 223, 226);
    margin-top: 20px;
}



.margin-header{
    text-align: center;
    margin-top: -70px;
    font-weight: 900;
    font-size: 100px;
    color: rgb(198, 147, 105);
}


#displayback-formation{
    background-image: url(../assets/Presentation_16_9_1920x1080_px.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
}


.opacity-rigth{
    background-color: rgb( 220, 223, 226,0.5);
    width: 550px;
    height: 460px;
    margin-top: 20px;
    margin-right: 40px;
}

.opacity-rigth h2{
    text-align: center;
}

.opacity-rigth p{
    text-align: center;
    
}