header .grey{
    height: 100px;
    width: 100%;
    background-color: rgb( 220, 223, 226);
    margin-top: 20px;
}



.margin-header{
    text-align: center;
    margin-top: -70px;
    font-weight: 900;
    font-size: 100px;
    color: rgb(198, 147, 105);
}


#displayback-formation{
    background-image: url(../assets/Presentation_16_9_1920x1080_px.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
}


.opacity-rigth{
    background-color: rgba(255, 255, 255, 0.43);
    backdrop-filter: blur(20px);
    width: 550px;
    height: 460px;
    margin-top: 20px;
    margin-right: 40px;
    padding-top: 131px;
}

.opacity-rigth h2{
    text-align: center;
}

.opacity-rigth p{
    text-align: start;
    padding: 5%;
}



#card-flex{
    display: flex;
    justify-content: space-around;
}

#card-flex p{
    text-align: start;
    color: white;
    padding: 13%;
}

.formation-card-brown2{
    height: 400px;
    width: 350px;
    background-color: rgb(130, 79, 61);
    display: flex;
    align-items: center;
    margin-top: 50px;
}


.formation-card-brown{
    height: 400px;
    width: 350px;
    background-color: rgb(130, 79, 61);
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.formation-card-brown3{
    height: 400px;
    width: 350px;
    background-color: rgb(130, 79, 61);
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.h2-flex{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
    color: rgb( 233, 91, 42);
    font-family: "Roboto", sans-serif; /* A modifier plus tard !! */
}

.h2-flex h2{
    font-size: 300%;
}


@media screen and (max-width: 1000px) {
    .margin-header {
        margin-top: -30px; 
        font-size: 40px; 
    }

    #displayback-formation {
        margin-top: 5%; /
    }

    .opacity-rigth {
        width: 90%; 
        margin: 20px auto; 
        height: auto; 
        padding: 20px; 
    }

    .formation-card-brown,
    .formation-card-brown2,
    .formation-card-brown3 {
        width: 90%; 
        margin: 10px auto; 
        height: auto;
    }

    .h2-flex {
        margin-top: 30px; 
        margin-bottom: 20px; 
    }
}


@media screen and (min-width: 769px) {
    .margin-header {
        margin-top: -50px; 
        font-size: 60px; 
    }

    #displayback-formation {
        margin-top: 8%; 
    }

    .opacity-rigth {
        margin-top: 40px; 
    }

    .h2-flex {
        margin-top: 70px; 
        margin-bottom: 40px; 
    }
}