body {
    margin: 0;
    padding: 0;
}

#sectionACF,
#sectionCL,
#sectionTF,
#sectionF,
#sectionCD {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#section {
    padding: 5%;
}

#sectionQ2 {
    padding-top: 5%;
    padding-bottom: 2%;
}

#sectionQ2 {
    background-color: #d6a315;
}

#sectionQ2 .p {
    color: aliceblue;
}

#sectionCL .fontCadreLegale {
    font-size: 75px;
    font-weight: bold;
}

.brown-bar {
    background-color: #8B4513;
    /* A modifier plus tard !! */
    height: 20px;
    width: 100%;

}

.gray-bar {
    background-color: #302e2e;
    /* A modifier plus tard !! */
    height: 20px;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;

}

#sectionCL .h2NR:before {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 450px;
    color: #e6e7e8;
    position: absolute;
    left: -33px;
    z-index: 1;
    min-width: 1100px;
    top: 1325px;
}

#sectionCL #h2CL {
    position: relative;
    z-index: 2;
}

.rectangledesign {
    /*width: 275px;*/
    height: 100px;
}

.rectanglecolor1 {
    background-color: #3f3f3f;
    /* A modifier plus tard !! */
}

.rectanglecolor2 {
    background-color: #d6a315;
    /* A modifier plus tard !! */
}

.rectanglecolor3 {
    background-color: #4d4b49;
    /* A modifier plus tard !! */
    padding: 12%;
    margin: 12%;
    position: relative;
    top: 25px;

}

.fontFormations {
    font-size: 100px;
    font-weight: bold;
    position: relative;
    left: 70px;
    color: rgb(112, 110, 111);
}

.imageFormation {}

.imageFormation img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;

}

.custom-width {
    width: 20%;
}