body {
    margin: 0;
    padding: 0;
}

#sectionACF,
#sectionCL,
#sectionTF,
#sectionF,
#sectionQ {
    padding: 5%;
}

section .fontCadreLegale {
    font-size: 75px;
    font-weight: bold;
}

.brown-bar {
    background-color: #8B4513;
    /* A modifier plus tard !! */
    height: 20px;
    width: 100%;
    position: relative;
    left: -12px;

}

.gray-bar {
    background-color: #302e2e;
    /* A modifier plus tard !! */
    height: 20px;
    width: 75%;
    position: relative;
    left: -12px;
    margin-top: 10px;

}

.h2NR:before {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 450px;
    color: #e6e7e8;
    position: absolute;
    left: -33px;
    z-index: 1;
    min-width: 1100px;
    top: 1100px;
}

#h2CL {
    position: relative;
    z-index: 2;
}

.NRtext {
    font-size: 12px;
    color: rgb(112, 110, 111);
}

.rectangledesign {
    width: 275px;
    height: 85px;
}

.rectanglecolor1 {
    background-color: #3f3f3f;
    /* A modifier plus tard !! */
}

.rectanglecolor2 {
    background-color: #d6a315;
    /* A modifier plus tard !! */
}

.fontFormations {
    font-size: 100px;
    font-weight: bold;
    position: relative;
    left: 70px;
    color: rgb(112, 110, 111);
}