header li:nth-child(3){


    margin: 0 100px !important;

}

header li{

    margin-bottom: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 13px;
    font-family: "Roboto", sans-serif; /* A modifier plus tard !! */
    font-weight: 400;


}

header li .active{

    color: red!important;


}

header li img{

    margin-top: -40px;
    width: 111px;

}

.logo-header{

}

@media screen and (min-width: 400px) and (max-width: 991px) {
    .logo-header {
        width: 140px;
        height: 50px;
        margin-top: 1%;
    }
}

@media screen and (min-width: 992px) {
    .logo-header {
        width: 280px;
        height: 100px;
    }
}


#displayback{
    background-image: url("../assets/entete.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#displayback h1{
  width: 253px;
  text-align: center;
  font-weight: 900;
}


#displayback div{
    left: 200px;
    position: absolute;
    top: 110px;
}


#displayback p{
    color: rgb(242, 114, 9);
}

.bg-body-tertiary{
    --bs-bg-opacity: 0;
}

/* Ajoutez ces styles à votre feuille de style CSS */
@media screen and (max-width: 1155px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav li {
        margin: 15px 0;
    }

    .navbar-collapse {
        text-align: center;
    }
}
