header li:nth-child(3){


    margin: 0 100px !important;

}

header li{

    margin-bottom: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 13px;
    font-family: "Roboto", sans-serif; /* A modifier plus tard !! */
    font-weight: 400;


}

header li .active{

    color: red!important;


}

header li img{

    margin-top: -40px;

}

@media screen and (max-width: 991px) {
    .logo-header {
        width: 280px;
        height: 100px;
        margin-top: 1%;
        left: -5%;
        position: relative;
    }
}

@media screen and (max-width: 399px) {
    .logo-header {
        width: 145px;
        height: 55px;
        margin-top: 1%;
        left: -15%;
        position: relative;
    }
}


#displayback{
    background-image: url("../assets/entete.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 992px) {
    #displayback {
        height: 300px;
    }
}

#displayback h1{
  width: 253px;
  text-align: center;
  font-weight: 900;
}

@media screen and (max-width: 576px) {
    #displayback h1 {
        width: 253px;
        font-weight: 900;
    }
}

#displayback div{
    left: 200px;
    position: absolute;
    top: 110px;
}

@media screen and (max-width: 576px) {
    #displayback div {
        left: 25px;
        top: 110px;
    }
}

@media screen and (max-width: 576px) {
    #displayback h1 {
        width: 253px;
        font-weight: 900;
    }
}


#displayback p{
    color: rgb(242, 114, 9);
}

.bg-body-tertiary{
    --bs-bg-opacity: 0;
}

@media screen and (max-width: 1155px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav li {
        margin: 15px 0;
    }

    .navbar-collapse {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .noBorder {
        border: unset;
    }
}

.logo-burger-yes {
    display: none;
}

@media screen and (max-width: 991px) {
    .logo-burger-yes {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 991px) {
    .logo-burger-no {
        display: none;
    }
}