#block-qualiopi{
    width: 100%;  
    background-color: rgb( 201, 153, 126);
    display: flex;
    justify-content: space-around;

}

.logo-qualiopi{
    background-image: url(../assets/Logo-Qualiopi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 100%;
}


.block-grey-qualiopi{
    width: 300px;
    height: 150px;
    background-color: rgb(194, 193, 193);
    margin-bottom: -30px;
    position: relative;
    margin-left: 3%;
}

/* Styles de base inchangés */

/* Media queries pour les ajustements responsifs */

/* Pour les petits écrans jusqu'à 768px */
@media screen and (max-width: 768px) {
    #competence article {
        flex-direction: column; /* Changer la direction en colonne pour les petits écrans */
    }

    #competence .parent-skill {
        width: 100%; /* Prendre la largeur totale */
    }

    #competence .skill {
        width: 100%; /* Prendre la largeur totale */
        height: auto; /* Ajuster la hauteur automatiquement */
        margin-bottom: 20px; /* Ajouter de l'espacement entre les compétences */
    }
}

/* Pour les écrans de taille moyenne à grande à partir de 769px */
@media screen and (min-width: 769px) {
    #competence article {
        margin: 0 auto; /* Centrer l'article */
        max-width: 1200px; /* Limiter la largeur de l'article */
    }

    #competence .parent-skill {
        width: calc(50% - 20px); /* Utiliser la moitié de la largeur avec un espacement */
    }

    #competence .skill {
        width: 100%; /* Prendre la largeur totale */
        height: 200px; /* Fixer la hauteur */
    }

    #competence .title {
        font-size: 18px; /* Ajuster la taille du titre */
    }
}
